blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', "\5b8b\4f53", sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%
}

small {
  font-size: 12px
}

ol,
ul {
  list-style: none
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  color: #c81623
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

em,
i {
  font-style: normal
}

img {
  border: 0;
  vertical-align: middle
}

button {
  cursor: pointer
}

button,
input {
  font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif
}

html, body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}